/* Home */
#welcome {
 font-family: 'Rock Salt',
    cursive;
   
}

div.Jumbtron{
   opacity: 0.6;
}

.background {
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* -------Jumbotron---------- */
div.Jumbtron {
    opacity: 0.6;
    height: 5px;
}


/* -------NavBar---------- */


nav.navbar-light.container-fluid {
   margin-left: 22%;
}
a.navbar-header {
    
    font-size: 23px;
    font-family: sans-serif;
    padding: 15px 10px 15px 15px;
    
}
a.active {

    font-size: 25px;
    line-height: 30px;
    font-family: sans-serif;
}

a {
    
    color: #666;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 10px;
    text-align: center;
  
}


.fa {
    font-size: 20px;
}



/* -------Footer---------- */

.footer {
  
    margin: 0 auto !important;
    text-align: center !important;
    padding: 1px 5px 8px 8px;
    
    
    width: 100% !important;
 
  
 
    
}


/* span.text {
    color: #666;
} */





/* -------Contact Form---------- */


.form {
   background: yellow;
    width:75%;
    height: 100%;
    padding: 10%;
    border: 2px solid #ccc;
    }

button.btn.btn-primary {
    background-color: #56dae4;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    color: white;
    margin-top: 2%;
}


input {
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   }


input:hover {
    background-color: #aaa;
}

input.message {
    padding: 0%;
    height: 150px;
    font-family: sans-serif;
}

h2 {
    color: #666;
    font-family: sans-serif;
    font: italic;
}

p {
    font-family: sans-serif;
    color: #666;
}

div.signature {
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    color: #666;
}

form.form {
    float: right;
}




/* -------Jumbotron --------*/

.jumbotron {
    margin-top: 0%;
    /* background-image: url(../components/images/jumborunner.jpg); */
    height: 375px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1.display-3 {
    font: white;
}

p.lead {
    font: teal;
}

div.welcome.col-xs-12 {
    display: inline-block;
    padding: 10px;
    font-weight: 400;
}

p {
    line-height: 1.5;
}


/* contact */



/* login */
@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
        
    }
    .Login form {
        margin: 0 auto;
        max-width: 350px;
        height: 350px;
        background: lightgrey;
    }
}

/* Testimonial */

div.page-header{
    
    width: 75%;
    margin-left: 15%;

}


li.list-group-item{
    background-color: gray;
    align-content: center;
    padding: 20px 20px 30px 30px;
   
    
}


div.testimonial {
    padding: 1% 15%;
}
