/* -------HOME--------- */
#welcome {
 font-family: 'Rock Salt',
    cursive;
   
}

div.Jumbtron{
   opacity: 0.6;
}

.background {
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}


/* -------ABOUT---------- */

hr.row.featurette-divider{
    height: 1.5pt;
}

/* -------JUMBOTRON---------- */
div.Jumbtron {
    opacity: 0.6;
    height: 5px;
}


/* -------NAVBAR---------- */


a.navbar-header {
  font-family: 'Rock Salt',
  cursive;
    font-size: 23px;
    padding: 35px 15px 15px 15px;
   
    
}

ul.nav.navbar-nav{
    padding: 10px 10px 15px 15px;
    float: right;
    margin-right: 5%;
}
a.active {
    
    font-size: 25px;
    line-height: 30px;
    font-family: sans-serif;
}

a {
    color: #666;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 10px;
    text-align: center;
  
}


.fa {
    font-size: 20px;
}



/* -------FOOTER---------- */

.footer {
  
    margin: 0 auto !important;
    text-align: center !important;
    width: 100% !important;
    font-family: 'Rock Salt',
    cursive;
}
#footer{
    margin-bottom: 30px;
}
/* span.text {
    color: #666;
} */

i#social{
    padding: 30px 10px 10px 10px;
}



/* -------CONTACT FORM---------- */
div.row.featurette.contact{
 text-align: left;
}

form.form {
    margin-left: 10%;
    width:75%;
    height: 50%;
    border: 2px solid #ccc;
    padding: 2%;
    }
    

input {
   font-family: "Open Sans", sans-serif;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   }

input:hover {
    background-color: #e8bf28;
}

input#message.form-control {
    height: 150px;
    
}

::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #d0cdfa;
    text-align: center;
    font-weight: lighter;
}

div#signature{
    font-family: 'Rock Salt',
    cursive;
    margin-left: 2%;
    line-height: 3.pt;
}




/* -------LOGIN FORM---------- */

input.form-control{
    width: 95%;
}

div.modal-header{
  background: lightgray;   
}

div.modal-content {
   background: lightgray;
    margin-top: 20%;
}
div.static.modal{
    margin-top: 20%;
}


/* -------HELPBLOCK---------- */
span.help-block{
    font-family: 'Rock Salt',
    cursive;
    
}


/* -------BUTTON---------- */

button.btn.btn-primary{
    background: #ae0001;
}

button.btn.btn-large{
     background: #ae0001;
}
/* -------TESTIMONIAL---------- */

div.page-header{
    width: 75%;
    margin-left: 15%;
}


li.list-group-item{
    align-content: center;
    padding: 20px 20px 30px 30px;
}


div.testimonial {
    padding: 1% 15%;
}

.panel >.panel-heading {
    background-image: none;
    background-color: #e8bf28;
    color: white;
    font-family: 'Rock Salt';
}


h2.text-center.featurette-heading{
    font-family: 'Rock Salt',
    cursive;
    color: #ae0001;
}
/* PERSONAL WEBSITE CSS */

body{
	font-family: 'Open Sans', sans-serif;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

#brand-pic {
	margin-top: 5px;
	height: 40px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 675px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 675px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 675px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

#about-pic{
	margin: 0 auto;
}

.new-background{
	color: white;
	background-color: #e8bf28;
}

.picture-padding{
	margin: 50px 0;
}

.margin-center{
	margin-top: 120px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

.grey-background{
	background-color: #222;
	color: white;
}

#footer{
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer a{
	color: white;
}

/* DASHBOARD */
  input.hidden {
      position: absolute;
      left: -9999px;
  }

  #profile-image1 {
      cursor: pointer;
      width: 100px;
      height: 100px;
      border: 2px solid #03b1ce;
  }

  .tital {
      font-size: 16px;
      font-weight: 500;
  }

  .bot-border {
      border-bottom: 1px #f8f8f8 solid;
      margin: 5px 0 5px 0
  }